.inquiry{
  background-image: url("/assets/images/inquiry.png");
  margin-bottom: 5px;
}
.name{
  // margin-left: 100px;
  width: 350px;
}
.mail{
  // margin-left: 100px;
  width: 350px;
  margin-bottom: 10px;
  height: 34px;
}
